{% extends 'base_blog.j2' %}
{% block content %}
    {%- include 'book_list_ascii_banner.html' %}
    {%- include 'book_list.j2' %}
{% endblock %}
{% block style %}
    {%- include 'style.css' %}
{% endblock %}