{% extends 'base_profile.j2' %}
{%- block style %}   
    <style>
        {% include 'components/style.css' %}
    </style>   
{%- endblock %}
{%- block about %}

{%- endblock %}
{%- block liketomeet %}
     
{%- endblock %}
{%- block general %}

{%- endblock %}
{%- block music %}
{%- endblock %}

{%- block movies %}
{%- endblock %}

{%- block tv %}
{%- endblock %}
{%- block books %}
    {% include 'profile_books.j2' %}
{%- endblock %}
{%- block heroes %}{%- endblock %}

