:root {
  --button-color: #4169e1;
  --button-hover-color: #6394ed;
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
.profile-pic {
  width: 100%;
  height: 400px !important;
  background-image: url(https://media.giphy.com/media/uWqkrjdWGyyQEsJsjC/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-pic img {
  display: block;
  margin: auto;
  width: 70% !important;
  border-radius: 80px;
  border-width: 5px;
  border-style: solid !important;
  border-color: white;
  margin-top: 115px;
}
.contact {
  border: 0 !important;
}
.contact .heading {
  display: none;
}
.contact .inner {
  padding: 10px;
}
.contact .inner .f-row {
  margin: 0;
}
.contact .inner .f-col {
  padding: 2px;
}
.contact .inner a {
  padding: 4px 8px;
  border-radius: 4px;
  border-color: transparent;
  margin-top: 2px;
  display: block;
  text-decoration: none;
  color: white;
}
.contact .inner a:link,
.contact .inner a:active,
.contact .inner a:visited {
  background-color: var(--button-color);
}
.contact .inner a:hover {
  background-color: var(--button-hover-color);
}
